
.card{
    width: 40vh;
    height: auto;
    border-radius: 8%;
    border: 1px solid #ffa500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    background: linear-gradient(#ffffff 93%, #ff9100 0%)

    
}
.imgProducto{
    width: 60%;
}
.btnAplicar{
    width: auto;
    border: #ff9100;
    background-color: #ff9100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
